<footer class="mt-5 bg-dark py-3 text-center text-white">
    <div class=" justify-content-center">
        <p class="h3 mb-3">Copyright YesCode - {{"now" | date('Y')}}</p>
        <div>
            <i class="fab fa-facebook fa-2x mx-5"></i>
            <i class="fab fa-github fa-2x mx-5"></i>
            <i class="fab fa-linkedin fa-2x mx-5"></i>
        </div>

    </div>
</footer>