{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1 cass="my-5  p-3 bg-light shadow text-center col-4">Table the board</h1>
		<div class="alert alert-success col-4">User</div>

	</div>
{% endblock %}
