<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" lang="fr">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/cosmo/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">

		<link rel="stylesheet" href="./css/app.css">
		<title>YesCode -
			{% block title %}{% endblock %}
		</title>
	</head>

	<body>
		{% include "partials/header.html.twig" %}


		{% block body %}
			{% include "partials/card.article.html.twig" %}
		{% endblock %}

		{% block javascripts %}{% endblock %}

		{% include "partials/script.html.twig" %}
		{% include "partials/footer.html.twig" %}
	</body>
</html>
