{% extends 'base.html.twig' %}

{% block title %}Publish an article
{% endblock %}

{% block body %}
	<div
		class="container">
		{# <h1>{{msg}}</h1> #}
		<h1 class="my-5">Edit the article</h1>
		{{form(form)}}
		</div>
	{% endblock %}
